!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  header
    nav
      ul
        li
          a(href="/") Home
        li
          a(href="/about") About
        li
          a(href="/contact") Contact
        li
          a(href="/login") Login
        li
          a(href="/search") Search
body!= body