h1= title
form(method="post")
  fieldset
    legend Search Documents:
    p
      label(for="searchQuery")
        input(type="text", name="ss", value='')  p.buttons
        input(type="submit", value="Search")
      .tip
        | Note: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.